@import 'variable' , 'mixins' , 'fonts';

.footer {
    background-color: $BandSite-Black;
    color: $white;
    padding: $padding-mobile;
    
    &__content {
        padding-top: $padding-mobile;
        padding-bottom: $padding-mobile;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        @include Font-bodyCopy-mobile;
        font-family: 'AvenirNext-Regular';

        @include tablet {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        @include Font-footerCopy-tablet;
        font-family: 'AvenirNext-Regular';
        width: 90%;
        margin: 0 auto;
        }   
    }

    &__content--subHeader {
            @include tablet {
                display: flex;
                flex-direction: row;
                gap: 3rem;
                align-items: baseline;
                width: 90%;
                margin: 0 auto;
        }
    }
    &__caption {
        @include Font-sectionHeader-mobile;
        padding-bottom: $padding-mobile;

        @include tablet {
            @include Font-sectionHeader-tablet;
            padding-left: 0.5rem;
        }
    }
    &__icons {
        display: flex;
        justify-content: flex-start;
        gap: 1.5rem;

        @include tablet {
            padding-left: 1.5rem;
            // align-items: center;
        }
    }

    #bandSite {
        position: relative;
        top: 33rem;

        @include tablet {
            position: relative;
            top: 2.25rem;
            left: 38rem;
        }

        @include desktop {
            left:70rem;
        }
    }
    &__contact {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__contact-footerCopy {
        font-family: 'AvenirNext-Regular';
        @include Font-bodyCopy-mobile;
    }

    &__contact-mail {
        text-decoration: none;
        color: $white;
    }

    // bandsite logo 
    &__content--bottom {
        display: flex;
        flex-direction: column;
        gap:0.5rem;
        padding-top: 1.5rem;
        position: relative;
        }

    // &__mark {
        // @include tablet {
        //     position: absolute;
        //     right: 0;
        //     top: 0;
        // }
    // }

    &__copyRight {
            @include Font-lablesButtons-mobile;

            @include tablet {
                @include Font-lablesButtons-tablet;
                width: 50%;
                padding-left: 3rem;
                padding-bottom: 2.25rem;
            }
    }
}