
@import 'variable' , 'mixins';

.navigation {
    background-color: $primarybackground-color;
    color: white;
    @include tablet {
        display: inline-flex;
        justify-content: flex-start;
        width: 100vw;
        padding-left: 36px;
        vertical-align: middle;
    }

    &__heading {
        display: flex;
        justify-content: center;
        font-size: 24px;
        line-height: 32px;
        width: 120px;
        height: 20px;
        margin: auto;
        padding-top: 16px;
        padding-bottom: 16px;
        font-weight: map-get($font-weights, bold);

    @include tablet {
        margin: 0;
    }
    }

    &__list {
        margin: 0px;
        display: flex;
        justify-content: space-around;
        font-size: 14px;
        line-height: 22px;
        padding-top: 24px;
        font-weight: map-get($font-weights, demi);
    }

    &__liststyle {
        padding-left: 36px;
    }

}