* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}
// @font-face {
//     font-family: avenir next;
    
// }
$font-weights: (
    "regular": 400,
    "bold": 700,
    "demi": 600
);
$primarybackground-color: #323232;
$secondarybackground-color: #000000;
$primarytext-color: #afafaf;
$secondarytext-color: #e1e1e1;

$padding-mobile: 2rem;
$tablet-width: 768px;
$desktop-width: 1280px;
$padding-tablet: 4.25rem;