@import 'variable' , 'header' , 'footer' , 'fonts';

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

body {
    min-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $white;
}

.hero {
    background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
                    url(../assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 30vh;

    @include tablet {
        width: 100vw;
        height: 60vh;
    }

    @include desktop {
        height: 70vh;
    }

    &__page-title {
        position: relative;
        width: 75%;
        top: 42%;
        left: 5%;
        color: $white;
        font-family: 'AvenirNext-Regular';
        @include Font-pageHeader-mobile;

        @include tablet {
            @include Font-pageHeader-tablet;
        }

        @include desktop {
            left: 10%;
            top: 35%;
        }
    }
}
//Musicians
.midSection {
    @include tablet {
        padding-left: 3rem;
        padding-right: 3rem; 
    }

    @include desktop {
        max-width: 100%;
        margin: 0 auto;
    }
}
.musicians {
    display: flex;
    flex-direction: column;

    &__label {
        padding-top: 1.5rem;
        padding-left: $padding-mobile;
        padding-bottom: $padding-mobile;
        font-family: 'AvenirNext-Regular';
        @include Font-sectionHeader-mobile;

        @include tablet {
            padding-top: 2.25rem;
            position: relative;
            @include Font-sectionHeader-tablet;
        }

        @include desktop {
            left: 4.25rem;
        }
    }

    &__container {
        max-width: 90%;
        margin: 0 auto;

        @include desktop {
            max-width: 80%;
            margin: 0 auto;
        }
    }

    &__picture {
        width: 100%;
        height: 26vh;
        position: relative;
        padding-bottom: $padding-mobile;

        @include tablet {
            height: 50vh;
            width: 100%;
        }

        @include desktop {
            width: 90%;
            left: 3rem;
        }
    }

    &__info {
        padding-bottom: $padding-mobile;
        @include Font-subHeader-mobile;
        font-family: 'AvenirNext-Regular';

        @include tablet {
            @include Font-subHeader-tablet;
        }
        @include desktop {
            width: 80%;
            padding-left: 3rem;
        }
    }
}

// Bees
.bees {
    @include tablet {
        padding-left: $padding-tablet;
        padding-right: $padding-tablet;
    }

    @include desktop {
        width: 85%;
        margin: auto;
    }

    &__subheading {
        padding-bottom: $padding-mobile;
        width: 288px;
        margin: 0 auto;
        @include Font-subHeader-mobile;
        font-family: 'AvenirNext-Regular';

        @include tablet {
            width: auto;
            padding-left: 1.5rem;
            padding-top: 3rem;
            padding-bottom: 2.25rem;
            @include Font-sectionHeader-tablet;
        }

        @include desktop {
            padding-left: 2.50rem;
        }
    }

    &__float {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto;

        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            max-width: 90%;
            margin: 0 auto;
        }
    }

    &__description {
        padding-bottom: $padding-mobile;
        width: 97%;
        font-family: 'AvenirNext-Regular';
        @include Font-bodyCopy-mobile;
        
        @include tablet {
            @include Font-bodyCopy-tablet;
        }
    }
}

// OurGallery
.gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: $padding-mobile;
    background-color: #fafafa;
    padding-right: $padding-mobile;

    @include tablet {
        width: 100vw;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: $padding-tablet;
    }

    @include desktop {
        padding-left: $padding-tablet;
        padding-right: $padding-tablet;
    }

// our gallery
    &__heading {
        @include Font-sectionHeader-mobile;
        padding-bottom: $padding-mobile;
        font-family: 'AvenirNext-Regular';

        @include tablet {
            @include Font-sectionHeader-tablet;
            padding-left: $padding-tablet;
            padding-bottom: 1.5rem;
        }

        @include desktop {
            position: relative;
            left: 3rem;
        }
    }

// gallery photos
    &__design {
        display: flex;
        flex-direction: column ;
        justify-content: center;
        gap: 1rem;

        @include tablet {
            gap: 1.5rem;
            flex-wrap: wrap;
            flex-direction: row;
            padding-bottom: 2rem;
        }
    }

    &__design-concert {
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
        }

        @include tablet {
            width: 27vw;
            height: auto;
        }

        @include desktop {
            width: 26vw;
        }
    }
}