
@import 'variable' , 'fonts' , 'mixins';

.header {   
        width: 100vw;
        background-color: $BandSite-Black;
}

.navigation {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: $BandSite-Black;
    color: $white;

    @include tablet {
        display: inline-flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 4.25rem;
        width: 100vw;
        padding-left: 2.25rem;
    }
    
    @include desktop {
        padding-left: 8rem;
        width: 80rem;
    }

    &__logo {
        padding-top: $padding-mobile;

        @include tablet {
            padding-bottom: 1rem;
        }
    }

    // biography and shows
    &__list {
        margin: 0px;
        display: flex;
        width: 100vw;
        color: $Silver;
        justify-content: space-around;
        padding-top: 0.5rem;
        font-family: 'AvenirNext-Regular';
        @include Font-subHeader-mobile;

        @include tablet {
            width: fit-content;
            justify-content: flex-start;
            flex-direction: row;
            padding-top: 1.75rem;
            gap: 2.25rem;
            @include Font-lablesButtons-tablet;
        }
    }

    &__liststyle {
        padding-bottom: 1rem;
        width: 47%;
        text-align: center;

        @include tablet {
            padding-bottom: 1.5rem;
        }
    }

    &__active {
        color: $white;
        border-bottom: 2px solid white;
        
    }

    &__shows:hover {
        border-bottom: 2px solid white;
        color: $white;
    }
}