@import 'variable' , 'fonts' ;

// breakPoints mediaquery
@mixin tablet {
    @media (min-width: #{$tablet-width}) {
        @content;
        }  
}

@mixin desktop {
    @media screen and (min-width: #{$desktop-width}) {
        @content;
    }
}

// mobileTextStyles
@mixin Font-pageHeader-mobile {
        font-size: 24px;
        font-weight: map-get($font-weights , bold);
        line-height: 32px;
}

@mixin Font-sectionHeader-mobile {
    font-size: 24px;
    font-weight: map-get($font-weights , bold);
    line-height: 32px;
}

@mixin Font-subHeader-mobile {
    font-size: 14px;
    font-weight: map-get($font-weights , demi);
    line-height: 22px;
}

@mixin Font-bodyCopy-mobile {
    font-size: 13px;
    font-weight: map-get($font-weights , regular);
    line-height: 18px;
}

@mixin Font-lablesButtons-mobile {
    font-size: 10px;
    font-weight: map-get($font-weights , bold);
    line-height: 20px;
}

// desktop And Tablet TextStyles
@mixin Font-pageHeader-tablet {
    font-size: 60px;
    font-weight: map-get($font-weights , bold);
    line-height: 68px;
}

@mixin Font-sectionHeader-tablet {
    font-size: 36px;
    font-weight: map-get($font-weights , bold);
    line-height: 44px;
}

@mixin Font-subHeader-tablet {
    font-size: 24px;
    font-weight: map-get($font-weights , demi);
    line-height: 32px;
}

@mixin Font-bodyCopy-tablet {
    font-size: 14px;
    font-weight: map-get($font-weights , regular);
    line-height: 22px;
}

@mixin Font-lablesButtons-tablet {
    font-size: 12px;
    font-weight: map-get($font-weights , bold);
    line-height: 20px;
}

@mixin Font-footerCopy-tablet {
    font-size: 14px;
    font-weight: map-get($font-weights , regular);
    line-height: 20px;
}

// comment and buy tickets button
@mixin Button {
    background-color: $BandSite-Black;
        color: $white;
        height: 40px;
        border-radius: 4px;
        width: 100%;
        border: none;
        font-family: 'AvenirNext-Regular';
        @include Font-lablesButtons-mobile;

        @include tablet {
            max-width: 150px;
            padding-left: 32px;
            padding-right: 32px;
            @include Font-lablesButtons-tablet;
}
}

// comment image
@mixin  image {
    width:2.88rem;
    height:2.88rem;
    border-radius: 50%;
    object-fit: cover; 
}

@mixin likeDeleteButton {
    height: 18px;
    width: 20px;
    border: none;
    cursor: pointer;
}