@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("truetype");
}
.header {
  width: 100vw;
  background-color: #323232;
}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .navigation {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4.25rem;
    width: 100vw;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .navigation {
    padding-left: 8rem;
    width: 80rem;
  }
}
.navigation__logo {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .navigation__logo {
    padding-bottom: 1rem;
  }
}
.navigation__list {
  margin: 0px;
  display: flex;
  width: 100vw;
  color: #afafaf;
  justify-content: space-around;
  padding-top: 0.5rem;
  font-family: "AvenirNext-Regular";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
@media (min-width: 768px) {
  .navigation__list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 1.75rem;
    gap: 2.25rem;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
  }
}
.navigation__liststyle {
  padding-bottom: 1rem;
  width: 47%;
  text-align: center;
  color: #afafaf;
}
@media (min-width: 768px) {
  .navigation__liststyle {
    padding-bottom: 1.5rem;
  }
}
.navigation__active {
  color: #ffffff;
  border-bottom: 2px solid white;
  width: auto;
}
.navigation__shows:hover {
  border-bottom: 2px solid white;
  color: #ffffff;
  width: auto;
}

@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("truetype");
}
.bottom {
  width: 100vw;
  margin: auto;
  background-color: #323232;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 1rem;
  margin-top: 1rem;
}
@media (min-width: 768px) {
  .footer {
    margin-top: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2.25rem;
  }
}
.footer__content {
  padding-top: 1rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  font-family: "AvenirNext-Regular";
}
@media (min-width: 768px) {
  .footer__content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 3rem;
    justify-content: space-evenly;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer__content {
    justify-content: flex-start;
    gap: 5.25rem;
  }
}
@media (min-width: 768px) {
  .footer__content-subheader {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: baseline;
    width: 95%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer__content-subheader {
    width: 100%;
    margin: auto;
    justify-content: flex-start;
  }
}
.footer__caption {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 1rem;
  font-family: "AvenirNext-Regular";
}
@media (min-width: 768px) {
  .footer__caption {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    padding-left: 0.5rem;
  }
}
.footer__icons {
  display: flex;
  justify-content: flex-start;
  gap: 1.7rem;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__copyRight {
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
}
@media (min-width: 768px) {
  .footer__copyRight {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    width: 50%;
    padding-left: 2rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyRight {
    padding-left: 0rem;
  }
}

#bandSite {
  position: relative;
  top: 35rem;
}
@media (min-width: 768px) {
  #bandSite {
    top: 2.25rem;
    left: 37rem;
  }
}
@media screen and (min-width: 1280px) {
  #bandSite {
    left: 75vw;
  }
}

@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
}

body {
  min-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.hero {
  background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/Images/hero-bio.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 30vh;
}
@media (min-width: 768px) {
  .hero {
    width: 100vw;
    height: 60vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero {
    height: 70vh;
  }
}
.hero__page-title {
  position: relative;
  width: 75%;
  top: 42%;
  left: 5%;
  color: #ffffff;
  font-family: "AvenirNext-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
@media (min-width: 768px) {
  .hero__page-title {
    font-size: 60px;
    font-weight: 600;
    line-height: 68px;
  }
}
@media screen and (min-width: 1280px) {
  .hero__page-title {
    left: 10%;
    top: 35%;
  }
}

@media (min-width: 768px) {
  .midSection {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
@media screen and (min-width: 1280px) {
  .midSection {
    max-width: 100%;
    margin: 0 auto;
  }
}

.musicians {
  display: flex;
  flex-direction: column;
}
.musicians__label {
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1rem;
  font-family: "AvenirNext-Regular";
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}
@media (min-width: 768px) {
  .musicians__label {
    padding-top: 2.25rem;
    padding-left: 0px;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__label {
    padding-left: 4.25rem;
  }
}
.musicians__container {
  max-width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 1280px) {
  .musicians__container {
    max-width: 80%;
    margin: 0 auto;
  }
}
.musicians__picture {
  width: 100%;
  height: 26vh;
  position: relative;
  padding-bottom: 1rem;
}
@media (min-width: 768px) {
  .musicians__picture {
    height: 50vh;
    width: 100%;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__picture {
    width: 90%;
    left: 3rem;
  }
}
.musicians__info {
  padding-bottom: 1rem;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  font-family: "AvenirNext-Regular";
}
@media (min-width: 768px) {
  .musicians__info {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .musicians__info {
    width: 80%;
    padding-left: 3rem;
  }
}

@media (min-width: 768px) {
  .bees {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .bees {
    width: 85%;
    margin: auto;
  }
}
.bees__subheading {
  padding-bottom: 1rem;
  width: 288px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  font-family: "AvenirNext-Regular";
}
@media (min-width: 768px) {
  .bees__subheading {
    width: auto;
    padding-left: 1.5rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .bees__subheading {
    padding-left: 2.5rem;
  }
}
.bees__float {
  display: flex;
  flex-direction: column;
  max-width: 90%;
  margin: 0 auto;
}
@media (min-width: 768px) {
  .bees__float {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    max-width: 90%;
    margin: 0 auto;
  }
}
.bees__description {
  padding-bottom: 1rem;
  width: 97%;
  font-family: "AvenirNext-Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 768px) {
  .bees__description {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }
}

.gallery {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 1rem;
  background-color: #fafafa;
  padding-right: 1rem;
}
@media (min-width: 768px) {
  .gallery {
    width: 100vw;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-left: 2.25rem;
    padding-right: 2.25rem;
  }
}
.gallery__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 1rem;
  font-family: "AvenirNext-Regular";
}
@media (min-width: 768px) {
  .gallery__heading {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    padding-left: 2.25rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__heading {
    position: relative;
    left: 3rem;
  }
}
.gallery__design {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
@media (min-width: 768px) {
  .gallery__design {
    gap: 1.5rem;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 2rem;
  }
}
.gallery__design-concert {
  filter: grayscale(100%);
}
.gallery__design-concert:hover {
  filter: grayscale(0%);
}
@media (min-width: 768px) {
  .gallery__design-concert {
    width: 27vw;
    height: auto;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__design-concert {
    width: 26vw;
  }
}

.container {
  padding: 1rem;
}
@media (min-width: 768px) {
  .container {
    padding: 2.25rem;
  }
}
.container__header {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  font-family: "AvenirNext-Regular";
  font-weight: 100;
}
@media (min-width: 768px) {
  .container__header {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
  }
}
@media screen and (min-width: 1280px) {
  .container__header {
    padding-left: 5rem;
    font-weight: 100;
  }
}
.container__first-part {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: flex-start;
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
  font-family: "AvenirNext-Regular";
  color: #afafaf;
}
@media (min-width: 768px) {
  .container__first-part {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .container__first-part {
    width: 50%;
    padding-left: 3.25rem;
  }
}
.container__banner {
  width: 2.88rem;
  height: 2.88rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container__right {
  padding-top: 1.75rem;
}
.container__name {
  height: 2.25rem;
  padding: 0.75rem;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  border-radius: 0.25rem;
  font-family: "AvenirNext-Regular";
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
}
.container__name:focus {
  outline: 1px solid #000000;
}
.container__name:focus::-moz-placeholder {
  color: transparent;
}
.container__name:focus:-ms-input-placeholder {
  color: transparent;
}
.container__name:focus::placeholder {
  color: transparent;
}
.container__name:focus:invalid {
  outline: 1px solid red;
}
@media (min-width: 768px) {
  .container__name {
    padding: 1rem;
  }
}
.container__name--add-comment {
  height: 5rem;
  padding: 0.75rem;
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
}
@media (min-width: 768px) {
  .container__button {
    display: flex;
    justify-content: flex-end;
  }
}
.container__comment-button {
  background-color: #323232;
  color: #ffffff;
  height: 40px;
  border-radius: 4px;
  width: 100%;
  border: none;
  font-family: "AvenirNext-Regular";
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
  font-size: 13px;
}
@media (min-width: 768px) {
  .container__comment-button {
    max-width: 150px;
    padding-left: 32px;
    padding-right: 32px;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
  }
}
.container__comment-button:hover {
  background-color: #000000;
  color: #ffffff;
}
.container__second-part {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
  font-family: "AvenirNext-Regular";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
@media (min-width: 768px) {
  .container__second-part {
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 1280px) {
  .container__second-part {
    width: 50%;
    padding-left: 3.25rem;
  }
}

#form {
  width: 75%;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.comments {
  font-family: "AvenirNext-Regular";
  display: inline-flex;
  gap: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e1e1e1;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}
.comments--border {
  border-top: 1px solid #e1e1e1;
  padding-top: 1.25rem;
}
.comments--border:not(:first-child) {
  border-top: none;
}
.comments__image {
  width: 2.88rem;
  height: 2.88rem;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #e1e1e1;
}
.comments__main-content {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.comments__content {
  display: flex;
  justify-content: space-between;
}
.comments__content--date {
  color: #afafaf;
}
.comments__content--person {
  font-weight: 600;
}
.comments__btn {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}
.comments__btn-like {
  background-image: url(../assets/Icons/SVG/icon-like.svg);
  height: 18px;
  width: 20px;
  border: none;
}
.comments__btn-delete {
  background-image: url(../assets/Icons/SVG/icon-delete.svg);
  height: 18px;
  width: 15px;
  border: none;
}/*# sourceMappingURL=bio.css.map */