@import 'partials/_variable.scss' , 'partials/_header.scss' , 'partials/_footer.scss' , 'partials/_fonts.scss' , 'partials/_mixins.scss';

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

body {
    min-width: 100%;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: $white;
}

.hero {
    background-image: linear-gradient(rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0.5)),
                    url(../assets/Images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 30vh;

    @include tablet {
        width: 100vw;
        height: 60vh;
    }

    @include desktop {
        height: 70vh;
    }

    &__page-title {
        position: relative;
        width: 75%;
        top: 42%;
        left: 5%;
        color: $white;
        font-family: 'AvenirNext-Regular';
        @include Font-pageHeader-mobile;

        @include tablet {
            @include Font-pageHeader-tablet;
        }

        @include desktop {
            left: 10%;
            top: 35%;
        }
    }
}
//Musicians
.midSection {
    @include tablet {
        padding-left: 3rem;
        padding-right: 3rem; 
    }

    @include desktop {
        max-width: 100%;
        margin: 0 auto;
    }
}
.musicians {
    display: flex;
    flex-direction: column;

    &__label {
        padding-top: 1.5rem;
        padding-left: $padding-mobile;
        padding-bottom: $padding-mobile;
        font-family: 'AvenirNext-Regular';
        @include Font-sectionHeader-mobile;

        @include tablet {
            padding-top: 2.25rem;
            padding-left: 0px;
            @include Font-sectionHeader-tablet;
        }

        @include desktop {
            padding-left: 4.25rem;
        }
    }

    &__container {
        max-width: 90%;
        margin: 0 auto;

        @include desktop {
            max-width: 80%;
            margin: 0 auto;
        }
    }

    &__picture {
        width: 100%;
        height: 26vh;
        position: relative;
        padding-bottom: $padding-mobile;

        @include tablet {
            height: 50vh;
            width: 100%;
        }

        @include desktop {
            width: 90%;
            left: 3rem;
        }
    }

    &__info {
        padding-bottom: $padding-mobile;
        @include Font-subHeader-mobile;
        font-family: 'AvenirNext-Regular';

        @include tablet {
            @include Font-subHeader-tablet;
        }
        @include desktop {
            width: 80%;
            padding-left: 3rem;
        }
    }
}

// Bees
.bees {
    @include tablet {
        padding-left: $padding-tablet;
        padding-right: $padding-tablet;
    }

    @include desktop {
        width: 85%;
        margin: auto;
    }

    &__subheading {
        padding-bottom: $padding-mobile;
        width: 288px;
        margin: 0 auto;
        @include Font-subHeader-mobile;
        font-family: 'AvenirNext-Regular';

        @include tablet {
            width: auto;
            padding-left: 1.5rem;
            padding-top: 3rem;
            padding-bottom: 2.25rem;
            @include Font-sectionHeader-tablet;
        }

        @include desktop {
            padding-left: 2.50rem;
        }
    }

    &__float {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        margin: 0 auto;

        @include tablet {
            display: flex;
            flex-direction: row;
            gap: 1rem;
            max-width: 90%;
            margin: 0 auto;
        }
    }

    &__description {
        padding-bottom: $padding-mobile;
        width: 97%;
        font-family: 'AvenirNext-Regular';
        @include Font-bodyCopy-mobile;
        
        @include tablet {
            @include Font-bodyCopy-tablet;
        }
    }
}

// OurGallery
.gallery {
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    padding: $padding-mobile;
    background-color: #fafafa;
    padding-right: $padding-mobile;

    @include tablet {
        width: 100vw;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        padding-top: $padding-tablet;
    }

    @include desktop {
        padding-left: $padding-tablet;
        padding-right: $padding-tablet;
    }

// our gallery
    &__heading {
        @include Font-sectionHeader-mobile;
        padding-bottom: $padding-mobile;
        font-family: 'AvenirNext-Regular';

        @include tablet {
            @include Font-sectionHeader-tablet;
            padding-left: $padding-tablet;
            padding-bottom: 1.5rem;
        }

        @include desktop {
            position: relative;
            left: 3rem;
        }
    }

// gallery photos
    &__design {
        display: flex;
        flex-direction: column ;
        justify-content: center;
        gap: 1rem;

        @include tablet {
            gap: 1.5rem;
            flex-wrap: wrap;
            flex-direction: row;
            padding-bottom: 2rem;
        }
    }

    &__design-concert {
        filter: grayscale(100%);

        &:hover {
            filter: grayscale(0%);
        }

        @include tablet {
            width: 27vw;
            height: auto;
        }

        @include desktop {
            width: 26vw;
        }
    }
}
// comment conversation section
.container {
    padding: $padding-mobile;  

    @include tablet {
        padding: $padding-tablet;
    }

    &__header {
        @include Font-subHeader-mobile;
        font-family: 'AvenirNext-Regular';
        font-weight: 100;

        @include tablet {
            @include Font-sectionHeader-tablet;
        }

        @include desktop {
            padding-left: 5rem;
            font-weight: 100;
        }
    }

    &__first-part {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        justify-content: flex-start;
        @include Font-lablesButtons-mobile;
            font-family: 'AvenirNext-Regular';
            color: $Silver;

    @include tablet {
        @include Font-lablesButtons-tablet;
        width: 80%;
        margin: 0 auto;
    }

    @include desktop {
        width: 50%;
        padding-left: 3.25rem;
    }

    }
    &__banner {
        width:46px;
        height:46px;
        border-radius: 50%;
    }

    &__right {
        padding-top: 1.75rem;
    }

    &__name {
        height: 2.25rem;
        padding: 0.75rem;
        background-color: $Alabaster;
        border: 1px solid $Mercury;
        border-radius: 0.25rem;
        font-family: 'AvenirNext-Regular';
        @include Font-lablesButtons-mobile;

        &:focus {
            outline: 1px solid $BandSite-Black;
        }

        &:active {
            outline: 1px solid $Mercury;
        }
        
        @include tablet {
            padding: 1rem;
        }

        &--add-comment {
            height: 5rem;
            padding: 0.75rem;
            @include Font-lablesButtons-mobile;
        }
    }

    &__button {
        @include tablet {
            display: flex;
            justify-content: flex-end;
        }
    }
    &__comment-button {
        @include Button;
        font-size: 13px;
        
        &:hover {
            background-color: $BandSite-DarkBlack;
            color: $white;
        }
    }

    &__second-part {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding-top: 1rem;
        padding-bottom: 1rem;
        gap: 1rem;
        font-family: 'AvenirNext-Regular';
        @include Font-bodyCopy-mobile;

        @include tablet {
            @include Font-bodyCopy-tablet;
            width: 80%;
            margin: 0 auto;
        }

        @include desktop {
            width: 50%;
            padding-left: 3.25rem;
        }
    }
}

// form 
#form {
    width: 75%;
}

fieldset {
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

// comments section through dom api
.comments {
    font-family: 'AvenirNext-Regular';
    display: inline-flex;
    gap: 1rem;
    padding-bottom: $padding-mobile;
    border-bottom: 1px solid $Mercury;
    @include Font-bodyCopy-mobile;

    &--border {
        border-top: 1px solid $Mercury;
        padding-top: 1.25rem;

        &:not(:first-child) {
            border-top: none;
        }
    }

    &__image {
        width: 36px;
        height: 36px;
        background-color: $Mercury;
        border-radius: 50%;
    }

    &__main-content {
        width: 80%;
        display: flex;
        flex-direction: column;
        gap: 0.25rem;
    }


    &__content {
        display: flex;
        justify-content: space-between;

        &--date {
            color: $Silver;
        }

        &--person {
            font-weight: 600;
        }
    }
}