@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("truetype");
}
.header {
  width: 100vw;
  background-color: #323232;
}

.navigation {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #323232;
  color: #ffffff;
}
@media (min-width: 768px) {
  .navigation {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4.25rem;
    width: 100vw;
    padding-left: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .navigation {
    padding-left: 8rem;
    width: 80rem;
  }
}
.navigation__logo {
  padding-top: 1rem;
}
@media (min-width: 768px) {
  .navigation__logo {
    padding-bottom: 1rem;
  }
}
.navigation__list {
  margin: 0px;
  display: flex;
  width: 100vw;
  color: #afafaf;
  justify-content: space-around;
  padding-top: 0.5rem;
  font-family: "AvenirNext-Regular";
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}
@media (min-width: 768px) {
  .navigation__list {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 1.75rem;
    gap: 2.25rem;
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
  }
}
.navigation__liststyle {
  padding-bottom: 1rem;
  width: 47%;
  text-align: center;
}
@media (min-width: 768px) {
  .navigation__liststyle {
    padding-bottom: 1.5rem;
  }
}
.navigation__active {
  color: #ffffff;
  border-bottom: 2px solid white;
}
.navigation__shows:hover {
  border-bottom: 2px solid white;
  color: #ffffff;
}

@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("truetype");
}
.bottom {
  width: 100vw;
  margin: auto;
  background-color: #323232;
}

.footer {
  background-color: #323232;
  color: #ffffff;
  padding: 1rem;
}
@media screen and (min-width: 1280px) {
  .footer {
    width: 90vw;
    margin: auto;
    padding-left: 2.25rem;
  }
}
.footer__content {
  padding-top: 1rem;
  padding-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  font-family: "AvenirNext-Regular";
}
@media (min-width: 768px) {
  .footer__content {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 3rem;
    justify-content: space-evenly;
    flex-direction: row;
  }
}
@media screen and (min-width: 1280px) {
  .footer__content {
    justify-content: flex-start;
    gap: 5.25rem;
  }
}
@media (min-width: 768px) {
  .footer__content-subheader {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: baseline;
    width: 90%;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) and (min-width: 1280px) {
  .footer__content-subheader {
    width: 100%;
    margin: auto;
    justify-content: flex-start;
  }
}
.footer__caption {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 1rem;
  font-family: "AvenirNext-Regular";
}
@media (min-width: 768px) {
  .footer__caption {
    font-size: 36px;
    font-weight: 600;
    line-height: 44px;
    padding-left: 0.5rem;
  }
}
.footer__icons {
  display: flex;
  justify-content: flex-start;
  gap: 1.7rem;
}
.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.footer__copyRight {
  font-size: 10px;
  font-weight: 600;
  line-height: 20px;
}
@media (min-width: 768px) {
  .footer__copyRight {
    font-size: 12px;
    font-weight: 600;
    line-height: 20px;
    width: 50%;
    padding-left: 3rem;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__copyRight {
    padding-top: 2.25rem;
    padding-left: 0rem;
  }
}

#bandSite {
  position: relative;
  top: 35rem;
}
@media (min-width: 768px) {
  #bandSite {
    top: 2.25rem;
    left: 37rem;
  }
}
@media screen and (min-width: 1280px) {
  #bandSite {
    left: 75vw;
  }
}

@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Regular";
  src: url(../assets/Font/AvenirNextLTPro-Regular.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTPro.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Bold";
  src: url(../assets/Font/AvenirNextLTPro-Bold.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProBold.ttf) format("truetype");
}
@font-face {
  font-family: "AvenirNext-Demi";
  src: url(../assets/Font/AvenirNextLTPro-Demi.otf) format("opentype") url(../assets/Font/Alternative/AvenirNextLTProDemi.ttf) format("truetype");
}
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

ul {
  list-style: none;
}

body {
  min-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #ffffff;
}/*# sourceMappingURL=shows.css.map */